<h1>Kevin Debruyne</h1>
<p>Mancity Midfielder</p>

<%= link_to "Go To Aguero Page", aguero_path %> <br>
<%= link_to "Go To Kompany Page", kompany_path %> <br>
<%= link_to "Go To Ederson Page", ederson_path %>
